html{
    scroll-behavior: smooth;
    height: 100vh;
}

body{
    margin: unset;
    padding: unset;
    width: 100vw;
    height: 100vh;
    min-height: 600px;
    font-family: 'Barlow', sans-serif;
}

/*TO DO: adjust sizing*/
@media only screen and (max-height: 600px){

    header p{
        display: none;
    }

    nav{
        display: none;
    }

    .down-arrow-img{
        display: none;
    }

}

.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content-box{
    width: 100vw;
    height: 80vh;
}

p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

.box{
    display: flex;
    box-sizing: border-box;
    height: auto;
    overflow: visible;
    align-items: center;
}

.down-arrow-img{
    height: 50px;
}

/* Header Section */

header {
    width: 100%;
    height: 5vh;
    background-color: #f3bad2;
    opacity: 1;
    font-size: 2vw;
    align-items: center;
}

header p{
    margin: unset;
    padding: unset;
    margin-left: 0.5em;
}

nav{
    flex-grow: 1;
    text-align: right;
}

nav span{
    padding: 0.5em;
}

/* Title section */

.welcome{
    align-items: center;
    background-color: #f3bad2;
}

#welcome-title{
    font-size: 14vw;
    font-style: italic;
}

.intro-text{
    height: 15vh;
    align-items: center;
    flex-direction: column;
    font-size: 2.5vw;
}

.intro-text p{
    margin: 5px;
}

/* Project One Section */

.project{
    height: 100vh;
    align-items: center;
}

.project-title{
    font-size: 10vw;
    font-style: italic;
}

.project-text{
    width: 100vw;
    flex-direction: column;
    align-items: flex-end;
    overflow: visible;
}

.project-text .box{
    width: 90vw;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
    background-color: #f3bad2;
}

.project-text img{
    height: 150px;
}

.project-info{
    margin: 2vw;
}

.project-info p{
    margin: 2vw;
}

.project-info img{
    height: 50px;
    margin: 10px;
}

/*Footer Section*/

footer{
    flex-direction: column;
    height: 30vh;
    background-color: #f3bad2;
}

.contact-icon{
    height: 40px;
    margin: 10px;
}

#contact p{
    font-size: 2vw;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
}